<head>
    <!-- 其他现有的 head 内容 -->
    <link rel="stylesheet" href="/assets/css/post.css">
</head> 

<div class="home-button-container">
  <a href="/" class="home-button">Return to Home</a>
</div>

<article class="post-content">
    {{ content }}
</article> 

<div id="giscus-container" style="margin-top: 3em; max-width: 800px; margin-left: auto; margin-right: auto;">
  <script src="https://giscus.app/client.js"
    data-repo="EvanZhao119/evanzhao119.github.io"
    data-repo-id="R_kgDOOGyKOQ"
    data-category="Comments"
    data-category-id="DIC_kwDOOGyKOc4CttGi"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="github-light"
    data-lang="en"
    crossorigin="anonymous"
    async>
  </script>
</div>
